@charset "UTF-8";

/* Estilo para impressão */

* {
    margin: 5px;
    padding: 5px;
}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height:1.5em;
}
header {
    text-align: center;
}
menu {
    display: none;
}
article::after {
    content:'Este arquivo foi impresso através do site www.cursoemvideo.com';
}
article {
    width: 100%;
    display: block;
    text-align: justify;
    margin: auto;
}
footer {
    display: none;
}